<!doctype html>
<html lang="en">
{% load static %}
<head>
  	<title>COPERATIVA DE AHORRO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'Base/css/style.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url(../../static/Base/images/bg2.jpg);">
		<span class="color: #fff">PROYECTO BASE DE DATOS II</span>
		<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">INICIO DE SECION</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">TIENES USUARIO?</h3>
		      	<form action="#" class="signin-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Usuario" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Contraseña" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">INGRESAR</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Recordar Mi Usuario
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Olvidastes Tu Clave</a>
								</div>
	            </div>
	          </form>
	       <!--   <p class="w-100 text-center">&mdash; Ingresa por Medio de Tu Cuenta de &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
	          	<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>-->
	</section>
	<span class="color: #fff">SISTEMA CREADO Y DONADO POR UNIVERSIDAD MARIANO GALVEZ DE GUATEMALA EXTENCION ZACAPA</span>
	<script src="{% static 'Base/js/jquery.min.js' %}"></script>
  <script src="{% static 'Base/js/popper.js' %}"></script>
  <script src="{% static 'Base/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Base/js/main.js' %}"></script>

	</body>
</html>

